{% extends '_base.html' %}

{% block content %}
  <div class="max-h-screen overflow-y-auto">
    <form method="post" class="max-w-sm mx-auto" enctype="multipart/form-data">
        {% csrf_token %}
      
        <!-- Title Field -->
        <label for="id_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
        {{ form.title }}
      
        <!-- Description Field -->
        <label for="id_description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
        {{ form.description }}
      
        <!-- Category Field (Dynamically Loaded) -->
        <label for="id_category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Categories</label>
        {{ form.category }}
      
        <!-- Event Created By Field (Read-Only) -->
        <label for="id_created_by" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Created By</label>
        <input type="text" id="id_created_by" value="{{ request.user.username }}" class="bg-gray-50 border border-black-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly>
      
        <!-- Location Field -->
        <label for="id_location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
        {{ form.location }}
        
        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Update Event
        </button>
      </form>
  </div>
{% endblock %}
