{% extends '_base.html' %}

{% block content %}

  <div class="max-h-screen overflow-y-auto">
    {% for booking in bookings %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
      <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#"><h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ booking.event.title }}</h5></a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ booking.event.description }}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Location: {{ booking.event.location }}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Event Created By: {{ booking.event.created_by }}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Event Created At: {{ booking.event.event_created_at }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
